<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg " style = "background-color:#D2B4DE;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'newhomepage' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'travelpackage' %}">travel</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/app/">CRUD App</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/mailapp/">Mail App</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/reviews/">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'print1' %}">Print</a>
        </li>
          <div class="dropdown">
   <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    PFSD modules
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

      <a class="nav-link" href="{% url 'get_registered' %}">Registration</a>
      <a class="nav-link" href="{% url 'randomcall' %}">Random OTP</a>
      <a class="nav-link" href="{% url 'weatherpagecall' %}">weather</a>
      <a class="nav-link" href="{% url 'getdate1' %}">getdate</a>
      <a class="nav-link" href="{% url 'pie_chart' %}">pie_chart</a>
      <a class="nav-link" href="{% url 'contact123' %}">Feedback form</a>
      <a class="dropdown-item" href="{% url 'carrent' %}">Rental cars</a>
  </div>
</div>
        <li>
          {% if user.is_authenticated %}
          <li class="nav=-item">
          <span class="nav-link">welcome,{{user.username}}</span>
          </li>
          <li class="nav=-item">
          <a class="nav-link" href="{% url 'logout' %}">logout</a>
        </li>
          {% else %}
           <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">register</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">login</a>
        </li>
        {% endif %}
          </li>
      </ul>
    </div>
  </div>
</nav>
{% block body %}

{% endblock %}
</body>
</html>