{% extends 'navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div>
  <div class="card" style="width: 18rem;">
  <img src="{% static 'images/klulogo.jpeg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">welcome to klu</h5>
    <p class="card-text">Welcome to Y22 - PFSD - s11 section</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
{% endblock %}
</body>
</html>